@charset "UTF-8";

@font-face {
  font-family: 'Paperlogy-8ExtraBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HSJiptokki-Round';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/HSJiptokki-Round.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
/* 콘텐츠 영역 */

body {
      background-color: #000;
    }

    #content1 {
      display: flex; /* Flexbox를 사용하여 정렬 */
      align-items: flex-start; /* 수직 정렬을 상단으로 설정 */
      width: 80%;
      height: 700px;
      margin-bottom: 300px;
    }

    .content1 {
      width: 800px;
      margin: 0 auto;
      display: flex; /* Flexbox 사용 */
      flex-direction: column; /* 세로 방향으로 정렬 */
    }

    #main_text {
      font-family: 'Paperlogy-8ExtraBold';
      color: #ffffff;
      font-size: 25px;
      line-height: 70px;
      margin-top: 115px;
      margin-left: 100px;
    }

    #sub_text {
      font-family: 'SUIT-Regular';
      color: #ffffff;
      font-size: 15px;
      line-height: 28px;
      margin-top: 15px;
      margin-left: 100px;
    }

    #line {
      width: 550px;          /* 라인의 너비 */
      height: 3px;          /* 라인의 두께 */
      background-color: #ffffff; /* 라인의 색상 */
      margin-top: 30px;
      margin-bottom: 40px;
      margin-left: 80px;
    }

    #imgbox {
      width: 500px; /* 이미지 박스의 너비 설정 */
      height: 500px;
      margin-top: 150px;
      margin-right: 100px;
    }
    
    #img {
      object-fit: fill;
    }
    
    #img > img {
      border-radius: 10px;
    }


