@charset "UTF-8";

@font-face {
  font-family: 'HSJiptokki-Round';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/HSJiptokki-Round.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Paperlogy-8ExtraBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0 auto;
  padding: 0;
}

/* 전체 너비 */
#wrap {
  width: 100%;
  max-width: 1920px;
}

/* a태그 li태그 전체 적용 */
a {
  text-decoration: none;
  font-family: 'Paperlogy-8ExtraBold';
  font-weight: bold;
}

li {
  list-style: none;
}

/* 헤더영역 */
#header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* 메인 메뉴 영역 */
.navi_manu {
  display: flex;
  justify-content: left;
  flex-grow: 1;
}

.navi_manu>ul {
  display: flex;
  padding: 0;
  margin-left: 200px;
  /* margin: 0; */
  
}

.navi_manu>ul>li {
  position: relative;
  text-align: center;
}

.navi_manu>ul>li>a {
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 150px;
  color: #ffffff;
  font-size: 13px;
  margin: 0 15px;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  border-bottom: 3px solid transparent;
}

.navi_manu>ul>li>a:hover {
  color: #8d0000;
  border-bottom: 3px solid #8d0000;
  text-shadow: 1px 2px 3px rgba(255, 169, 169, 0.7);
}


.navi_manu2 {
  display: flex;
  justify-content: right;
  flex-grow: 1;
}

.navi_manu2 > ul {
  display: flex;
  padding: 0;
  /* margin: 0; */
  margin-right: 220px;
}

.navi_manu2>ul>li {
  position: relative;
  text-align: center;
}

.navi_manu2>ul>li>a {
  display: inline-block;
  width: 60px;
  height: 100px;
  line-height: 150px;
  color: #ffffff;
  font-size: 13px;
  margin: 0 15px;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.navi_manu2>ul>li>a:hover {
  color: #8d0000;
  border-bottom: 3px solid #8d0000;
  text-shadow: 1px 2px 3px rgba(255, 169, 169, 0.7);
}