@charset "UTF-8";

@font-face {
    font-family: 'HSJiptokki-Round';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/HSJiptokki-Round.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
  font-family: 'Paperlogy-8ExtraBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
body {
	background-color: #111111;
}
.container {
	background-color: #fff;
	padding: 50px;
	border-radius: 8px;
	box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.5);
	width: 400px;
	margin: 50px auto;
	
}
h2 {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 25px;
	text-align: center;
	font-family: 'Paperlogy-8ExtraBold';
	color: #ffffff;

}
.form-group {
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: bold;
}
.form-group label {
	display: block;
	margin-bottom: 10px;
}
.form-group input,  select {
	width: 100%;
	height: 35px;
	padding: 5px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.error-message {
	color: red;
	font-size: 0.875em;
	margin-top: 5px;
}

#btn {
    display: flex;
	gap: 30px;
    justify-content: center; /* 수직 중앙 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
}
#submit {
    margin-top: 20px;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#submit:hover {
    background-color: #555555;
}
